:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --accent-color: #FF0070;
  --main-bg-color: #000028;
  --main-text-color: #F1B2CE;
  --nav-color: #FF0070;
  --main-heading-color: #000028;
  --nav-hover-color: rgba(255 0 112 / 0.4);
  --section-heading-color: #FF0070;
  --header-logo-color: #DB00FF;
  --footer-logo-color: #DB00FF;
}

.title-decor {
  color: #000028;
}

.theme-dark .header__rec {
  display: block;
}