:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --main-bg-color: #000028;
  --main-text-color: #f1b2ce;
  --nav-color: #ff0070;
  --main-heading-color: #000028;
  --nav-hover-color: rgba(255 0 112 / 0.4);
  --section-heading-color: #ff0070;
  --header-logo-color: #db00ff;
  --footer-logo-color: #db00ff;
}

.theme-dark .header__rec {
  display: block;
}
