/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 11.5px;
  list-style: none;
  padding-top: 75px;
}

.header__theme-menu-button {
  background: transparent;
  color: var(--nav-color);
  border: 1px solid transparent;
  padding: 2px 13px;
  cursor: pointer;
  text-transform: lowercase;
  font-size: var(--main-text-size);
}

.header__theme-menu-button:hover {
  border-color: var(--nav-hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--nav-color);
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  align-items: center;
  block-size: 100vh; 
  min-height: 668px;
  padding: var(--section-padding);
}

.header__logo {
  color: var(--header-logo-color);
  font-size: var(--header-logo-size);
  font-weight: 700;
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
  justify-self: start;
  align-self: center;
}

.header__paragraph {
  background-color: var(--accent-color);
  color: var(--main-heading-color);
  font-weight: 700;
  max-inline-size: 491px;
}

body {
  font-family: var(--main-font-family, monospace);
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--main-bg-color, #fff);
}
.content {
  display: grid;
  gap: 50px;
  padding: 40px var(--main-gap);
  font-size: 18px;
}
.content-section {
  font-style: normal;
  line-height: 23.4px;
}
.text-block {
  display: grid;
  grid-template-rows: min-content 1fr;

}

.content-section__title {
  color: var(--accent-color);
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
}
.text-block__heading, .text-block__subtitle {
  background-color: var(--accent-color);
  color: var(--main-bg-color);
  margin-bottom: 10px;
  font-size: 18px;
}
.text-block__heading {
  font-weight: 700;
}
.text-block__subtitle {
  font-weight: 400;
  margin-top: 10px;
}
.text-block__paragraph {
  color: var(--main-text-color);
}

.title-decor {
  font-weight: 700;
  font-size: 18px;
  background-color: var(--accent-color);
  color: var(--main-heading-color);
  line-height: 23.4px;
}

.causes {
  .content-section__title {
    grid-column: 1/ -1;
    max-width: 236px;
  }
  .text-blocks {
  grid-column: 1/ 1;
  }
}
.text-blocks {
  display:grid; 
  gap: 20px; 
}

.gallery__content {
  display: grid;
  gap: 10px;
}
.gallery__image {
  max-width:355px;
}

@media (width >=768px ) {
  .content {
    padding: 20px;
  }
  .content-section {
    display:grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }
}  

@media (width >=1024px) {
  .content {
    padding: 20px;
  }
  .content-section {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }
  .text-blocks {
    grid-column: span 2;
    grid-template-columns: repeat(3, 1fr);
  }
  .header__theme-menu-list {
    flex-direction: row;
  }
}