
.page {
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: var(--main-bg-color);
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  align-items: center;
  block-size: 100vh;
  min-height: 668px;
  padding: var(--main-gap);
}

.header__theme-menu-item {
  font-size: var(--main-text-size) ;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  list-style: none;
}

.header__theme-menu-button {
  background: transparent;
  color: var(--nav-color);
  border: 1px solid transparent;
  padding: 1px 13px;
  cursor: pointer;
  text-transform: lowercase;
  font-size: var(--main-text-size);
}

.header__theme-menu-button_active {
  border-color: var(--nav-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border-color: var(--nav-hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--nav-color);
}

.header__rec {
  position: absolute;
  color: var(--nav-color);
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
  text-transform: uppercase;
  inset-inline-end: calc(var(--main-gap) + 28px);
  inset-block-start: calc(var(--main-gap) + 2px);
}

.header__rec::after {
  content: '';
  position: absolute;
  inline-size: 10px;
  block-size: 10px;
  margin: -5px -20px 0 0;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--nav-color);
  background-color: var(--nav-color);
  inset-inline-end: 0;
  inset-block-start: 50%;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--nav-color);
  border-block-start: 1px solid var(--nav-color);
  inset-inline-end: var(--main-gap);
  inset-block-start: var(--main-gap);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--nav-color);
  border-block-end: 1px solid var(--nav-color);
  inset-inline-start: var(--main-gap);
  inset-block-end: var(--main-gap);
}

.logo {
  color: var(--header-logo-color);
  font-weight: 700;
  line-height: 83%;
  justify-self: start;
  align-self: center;
  margin: 0;
}

.header__logo {
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: var(--header-logo-size);
}

.header__paragraph {
  background-color: var(--accent-color);
  color: var(--main-heading-color);
  font-weight: 700;
  max-inline-size: 491px;
}

body {
  font-family: var(--main-font-family, monospace);
  line-height: 1.5;
  background-color: var(--main-bg-color, #fff);
}

.content {
  display: grid;
  gap: var(--content-gap);
  padding: var(--section-padding) var(--main-gap);
  font-size: 18px;
}

.content-section {
  font-style: normal;
  line-height: 23.4px;
}

.text-block {
  display: grid;
  grid-template-rows: min-content 1fr;
}

.content-section__title {
  color: var(--section-heading-color);
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
}

.text-block__heading {
  background-color: var(--accent-color);
  color: var(--main-heading-color);
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
}

.text-block__subtitle {
  font-weight: 400;
  margin-top: 10px;
  background-color: var(--accent-color);
  color: var(--main-heading-color);
  font-size: 18px;
}

.text-block__paragraph {
  color: var(--main-text-color);
}

.title-decor {
  font-weight: 700;
  font-size: 18px;
  background-color: var(--accent-color);
  color: var(--main-heading-color);
  line-height: 23.4px;
}

.causes {
  .content-section__title {
    grid-column: 1/ -1;
    max-width: 315px;
  }

  .text-blocks {
  grid-column: 1/ 1;
  }
}

.text-blocks {
  display:grid;
  gap: 20px;
}

.gallery__content {
  display: grid;
  gap: 10px;
}

.gallery__image {
  width:100%;
  height: 100%;
  object-fit: cover;
}

.link {
  text-decoration: none;
  color: inherit;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.text-block__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer {
  position: relative;
  display: grid;
  place-items: center;
  block-size: 100vh;
  min-block-size: 668px;
  padding: var(--main-gap);
}

.footer__logo {
  text-shadow: 2px 2px 0 var(--accent-color);
  justify-self: center;
  font-size: var(--footer-logo-size);
}

@media (width >=768px ) {

  .header {
    padding-inline-start: 0;
  }

  .content-section {
    display:grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }

  .causes {
    grid-template-columns: 1fr;
    .content-section__title {
      max-width: 236px;
    }
  }
  
  .header__paragraph {
    inline-size: 364px;
    block-size: 117px;
  }

  .gallery.content-section {
    display: block;
  }

  .gallery__content {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: var(--main-gap);
    padding-top: 10px;
  }
  
  .gallery__image:first-child {
    grid-column: span 2;
  }
  
  .gallery__image:nth-child(2) {
    grid-row: span 2;
  }
  
  .gallery__image:nth-child(3) {
    grid-row: span 2;
  }
  
  .gallery__image:last-child {
    grid-column: span 2;
  }
}  

@media (width >=1024px) {

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .content-section {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }

  .text-blocks {
    grid-column: span 2;
  }

  .causes.content-section {
    grid-template-columns: 1fr;
  }

  .causes {
    .content-section__title {
      max-width: 315px;
    }
  }
  
  .causes .text-blocks {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
    
  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__paragraph {
    inline-size: 491px;
    block-size: 71px;
  }
}