
:root {
  --accent-color: #FF0070;
  --main-bg-color: #000028;
  --main-text-color: #F1B2CE;
  --nav-color: #FF0070;
  --nav-hover-color: rgba(255 0 112 / 0.4);
  --main-heading-color: #000028;
  --section-heading-color: #FF0070;
  --link-shadow: #FF0070;
  --header-logo-color: #DB00FF;
  --footer-logo-color: #DB00FF;
  --main-font-family: 'IBM Plex mono', monospace;
  --main-text-size: 18px;
  --main-line-height: 1.3;
  --main-gap: 10px;
  --header-logo-size:clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --footer-logo-size:clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --section-padding:10px;
}

@media (width >=768px) {
  :root {
    --main-gap:20px;
    --header-logo-size:clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --footer-logo-size:clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
